test*.rb
test*.md
temp*.rb
temp*.md
\#Notes
.DS_Store
\#Archive
\#Assesments
*.mp4
*.m4v
quiz*
.sync
Icon?
\linux_study_group
/Course/130_Ruby_Foundations-More_Topics/03_packing_code_into_a_project/todolist_project/
